html {
    background-color: rgb(53, 54, 58);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(232, 234, 237);
    letter-spacing: 1px;
    line-height: 1.5;
}

a {
    color: rgb(232, 234, 237);
}

input[type=submit] {
    width: 150px;
    padding: 10px;
    font-weight: 700;
}

input[type=number] {
    width: 40px;
}

h2, h5 {
    display: inline;
}
