<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DXF2ABC</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    <form action="convert" method="post" enctype="multipart/form-data">
        <h2>KONWERTER PLIKÓW DXF DO ABC</h2><br>
        <h5>
            &copy; 2021÷<script>document.write(new Date().getFullYear())</script>
            <a href="mailto:prm.kowalski@gmail.com">Paweł Kowalski</a>
        </h5>
        <ol type="1">
            <li>Narysuj geometrię w dowolnym programie CAD</li>
            <li>Obiekty rysuj na modelu, warstwa dowolna</li>
            <li>Numer koloru obiektu z zakresu od 0 do 255<br>
                odpowiada numerowi przekroju pręta<br>
                lub grubości powłoki w centymetrach</li>
            <li>Usuń z modelu wszystkie zbędne elementy</li>
            <li>Zapisz plik w formacie <b>DXF minimum 2007</b></li>
            <li><input type="file" name="file"></li>
            <li>Wprowadź grubość powłok <b>g = <input type="number" name="g" value="20"> cm</b></li>
            <li>Pobierz przekonwertowany podkład jako:<br>
                <input type="submit" name="b" value="Jeden plik (od 2026)">
                <input type="submit" name="b" value="Dwa lub trzy pliki"><br>
                <b>POLILINIE</b> zostają rozbite na <b>LINIE / ŁUKI</b><br>
                <b>LINIE</b> przekonwertowane na dwuwęzłowe pręty<br>
                <b>ŁUKI, OKRĘGI, ELIPSY</b> na zestawy kilku prętów<br>
                <b>3DPOW (3DFACE)</b> na powłoki o 3 lub 4 węzłach<br>
                <b>PUNKTY</b> na dodatkowe węzły</li>
            <li>Rozpakuj / wczytaj pliki tekstowe w <a href="http://www.pro-soft.gliwice.pl/">ABC</a></li>
            <li>Po wczytaniu użyj <b>Węzły => Razem automat</b></li>
        </ol>
        <p>{{ error }}</p>
    </form>
</body>
</html>
